In [75]:
import pandas as pd

df = pd.read_csv("globalterrorismdb.csv")

df['datetime'] = df.apply(lambda x: pd.to_datetime("{}/{}/{}".format(x['iday'] or 1, x['imonth'] or 1, x['iyear']), dayfirst=True, utc=True), axis=1)

df.head()

C:\Users\ZODWEISS\AppData\Local\Temp\ipykernel_3668\1398474814.py:3: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("globalterrorismdb.csv")

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,datetime
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,1970-07-02 00:00:00+00:00
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,PGIS,0,1,1,1,NaN,1970-01-01 00:00:00+00:00
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01 00:00:00+00:00
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01 00:00:00+00:00
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1970-01-01 00:00:00+00:00

In [122]:
df_nkills = df.loc[:, ["eventid", "datetime", "longitude", "latitude", "nkill"]]
df_nkills["height"] = (df["nkill"].fillna(0) + 1) * 1000

df_nkills.to_csv("nkills.csv")

df_nkills.head()

,eventid,datetime,longitude,latitude,nkill,height
0,197000000001,1970-07-02 00:00:00+00:00,-69.951164,18.456792,1.0,2000.0
1,197000000002,1970-01-01 00:00:00+00:00,-99.086624,19.371887,0.0,1000.0
2,197001000001,1970-01-01 00:00:00+00:00,120.599741,15.478598,1.0,2000.0
3,197001000002,1970-01-01 00:00:00+00:00,23.762728,37.997490,NaN,1000.0
4,197001000003,1970-01-01 00:00:00+00:00,130.396361,33.580412,NaN,1000.0

In [130]:
from keplergl import KeplerGl
import json

map_nkills = KeplerGl()
map_nkills.add_data(data=df_nkills, name='df_nkills')

with open("map_nkills_config.json", "r") as f:
    map_nkills.config = json.load(f)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\ZODWEISS\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [131]:
map_nkills

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '9dw62hh', 'type': …